.form{
	display: inline-block;
	width: 50%;
	margin-left: 25%;
}
input{
	width: 100%;
	font-size: 18px;
}

.group{
	display: inline-block;
	width: 50%;
	margin-left: 25%;
}

.skill{
	display: inline-block;
	margin-left: 5%;
	margin-right: 25%;
	width: 20%;
	color: #EA0D0D;
	height: 50px;
}

.submit{
	width: 15%;
	height: 30px;
	background-color: #26C9F3;
}

td{
	width: 100px;
}